
        *
        {
            margin: 0px;
        }
        #a
        {
            height: 200px;
            background-color: black;
        }
        #img
        {
            height: 100px;
            width: 100pxpx;
            position: relative;
            left: 400px;
        }
        h1,h2
        {
            position: relative;
            left: 400px;
        }
        #x,h1
        {
            position: relative;
            left: 400px;
        }
        #b
        {
            height: 100px;
            width: 900px;
           border: 3px solid green;
           display: flex;
           align-items: center;
        }
        #c
        {
            height: 550px;
            width: 900px;
            border: 1px solid black;
            position: relative;
            left: 400px;
        }
        #cc
        {
            position: relative;
            left: 100px;
        }
        #img2
        {
            position: relative;
            left: 1080px;
            top: -175px;
            height: 170px;
        }
        footer
		{
			background-color: black;
			text-align: center;
			color: white;
			padding: 20px;
		}
		footer>h1
		{
			margin: 0px;
		}
        #footer
        {
            position: relative;
            left: -5px;
        }